@import 'components/root';
@import 'components/general';
@import 'base/index';
@import 'base/home';
@import 'base/musica';
@import 'base/amistad';
@import 'base/diversion';
@import 'base/autenticidad';
@import 'base/galeria_de_stickers';
@import 'base/terminos_y_condiciones';
@import 'components/media_queries';
