/*  Inicio de fuentes externas  */
@font-face {
    font-family: 'Germania One';
    src: url('../src/assets/fonts/germania-one/GermaniaOne-Regular.eot');
    src: url('../src/assets/fonts/germania-one/GermaniaOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../src/assets/fonts/germania-one/GermaniaOne-Regular.woff2') format('woff2'),
         url('../src/assets/fonts/germania-one/GermaniaOne-Regular.woff') format('woff'),
         url('../src/assets/fonts/germania-one/GermaniaOne-Regular.ttf')  format('truetype'),
         url('../src/assets/fonts/germania-one/GermaniaOne-Regular.svg#Germania One') format('svg');

    font-display: swap;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../src/assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('../src/assets/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url('../src/assets/fonts/satoshi/Satoshi-Light.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Light.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('../src/assets/fonts/satoshi/Satoshi-LightItalic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-LightItalic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../src/assets/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Regular.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('../src/assets/fonts/satoshi/Satoshi-Italic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Italic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../src/assets/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Medium.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('../src/assets/fonts/satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-MediumItalic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../src/assets/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Bold.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('../src/assets/fonts/satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-BoldItalic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Black';
  src: url('../src/assets/fonts/satoshi/Satoshi-Black.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-Black.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('../src/assets/fonts/satoshi/Satoshi-BlackItalic.woff2') format('woff2'),
       url('../src/assets/fonts/satoshi/Satoshi-BlackItalic.woff') format('woff'),
       url('../src/assets/fonts/satoshi/Satoshi-BlackItalic.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}

/*  Fin de fuentes externas  */

:root {
    scroll-behavior: smooth;
    /*  Medidas  */
    --medida-raiz: 62.5%;
    --swiper-navigation-size: 20px;
    /*  Fin de Medidas  */

    /* Colores */
    --color-blanco: #ffffff;
    --color-gris-opacidad: hsla(0, 0%, 0%, 0.5);
    --color-gris-opacidad-15: hsla(0, 0%, 0%, 0.15);
    --color-gris-medio: hsla(0, 0%, 73%, 1);
    --color-gris-bajo: hsla(0, 0%, 96%, 1);
    --color-negro: #000000;
    --color-rojo-coorporativo: #ff0024;
    --color-rojo: #ff0000;
    --color-violeta: #a402b3;
    --color-violeta-medio: #7c0087;
    --color-bordo: #7b0325;
    --color-bordo-medio: #d00202;
    --color-amarillo: #fbb900;
    --color-amarillo-medio: #e3a72b;
    --color-amarillo-opacidad: hsla(44, 100%, 49%, 0.3);
    --color-transparente: hsla(360, 100%, 100%, 0);
    --color-fucsia: #f101ff;
    --color-azul: #0076fb;
    --color-azul-fuerte: #0029fb;
    --color-verde-check: #00CB00;
    --color-rojo-error: #F90000;
    --color-amarillo-star:#ffec51;
    /* Fin de Colores */

    /*  Fuentes  */
    --fuente-germania-one: Germania One;
    --fuente-ombudsman-stencil: Ombudsman Stencil;
    --fuente-roboto-regular: Roboto Regular;
    --fuente-roboto-medium: Roboto Medium;
    --fuente-roboto-bold: Roboto Bold;
    --fuente-roboto-light: Roboto Light;
    --fuente-roboto-condensed-regular: Roboto Condensed Regular;
    --fuente-roboto-condensed-bold: Roboto Condensed Bold;
    /*  Fin de Fuentes  */
}

$grid-breakpoints: (
    mobile-a: 360px,
    tablet-a: 361px,
    tablet-b: 767px,
    tablet-c: 768px,
    tablet-d: 1060px,
    desktop: 1061px
 );

@mixin break-point-tablet($breakpoints) {
    @media screen and (max-width: map-get($grid-breakpoints, $breakpoints)){ 
        @content;
    }
}

$colores:
    #ffffff, /* 1 */
    #000000; /* 2 */

$fuentes:
    Roboto Regular; /* 1 */

@mixin sizes-w($width){
    width: $width;
}

@mixin sizes-w-h($width,$height){
    width: $width;
    height: $height;
}

@mixin btn-descargar ($width, $padding, $display, $justify-content, $border-radius) {
    width: $width;
    padding: $padding;
    display: $display;
    justify-content: $justify-content;
    border-radius: $border-radius;
}

@mixin margin-t-b($margin-top, $margin-bottom){
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin margin($margin){
    margin: $margin;
}

@mixin padding($padding){
    padding: $padding;
}

%btn {
    border-radius: 200px;
    color: nth($colores, 1);
    display: flex;
    justify-content: center;
    line-height: 1;
}

%bg-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

$btn-footer-desaphilip: (

    bg-color-rojo-invitar-amigos:var(--color-rojo),
    bg-color-violeta-descubri:var(--color-violeta),

    bg-bordo-medio-invitar-amigos:var(--color-bordo-medio),
    bg-violeta-medio-descubri:var(--color-violeta-medio),

    transition: all 0.5s
);












